/* font family */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */

/* universal css style */
* {
  margin: 0;
  padding: 0;
}

/* common css style */
.container {
  max-width: 1320px;
  width: 82.5%;
  margin: auto;
}

p {
  color: #ffffffcc;
  font-family: "Inter", sans-serif;
  line-height: 24px;
}

button {
  color: white;
  background-color: #f00;
  border: 0;
  border-radius: 5px;
  padding: 13px 26px;
  font-size: 17px;
  font-weight: 700px;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
}

.joininfo .joininfo-wrapper {
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 10px;
}

/* header banner css style*/
.header-banner {
  font-family: "Merriweather", serif;
  color: white;
  text-align: center;
}

.header-banner .banner-content-wapper {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner-Image.png");
  background-position: 60% 82%;
  border-radius: 13px;
  padding-top: 146px;
  padding-bottom: 177px;
  margin-top: 40px;
}

.header-banner .banner-content-wapper p {
  font-size: 26px;
  font-weight: 400px;
}

.header-banner .banner-content-wapper h1 {
  font-size: 60px;
  font-weight: 900px;
  line-height: 78px;
  margin-top: 15px;
}

/* discount css style */
.discount {
  color: #f00;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.discount .discount-wrapper {
  margin-top: 130px;
}

.discount .discount-wrapper .discount-text h2 {
  font-size: 72px;
  font-weight: 700px;
  margin-bottom: 40px;
}

.discount .discount-wrapper .discount-text h6 {
  font-size: 19px;
  font-weight: 500px;
  margin-bottom: 6px;
}

.discount .discount-wrapper .discount-text h3 {
  font-size: 39px;
  font-weight: 700px;
  color: #070211;
}

.discount .discount-wrapper .discount-img {
  margin: auto;
  margin-top: 92px;
}

/* welcome css style */
.welcome {
  margin-top: 100px;
}

.welcome .welcome-wrapper {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  background-position: 0%, 60%;
  border-radius: 13px;
  padding: 60px 0px;
  display: flex;
  align-items: center;
}

.welcome .welcome-wrapper .welcome-text {
  width: 40%;
  padding-left: 103px;
}

.welcome .welcome-wrapper h2 {
  color: white;
  font-family: "Merriweather", serif;
  font-size: 52px;
  font-weight: 900px;
  line-height: 72px;
}

.welcome .welcome-wrapper p {
  margin: 15px 0px 30px 0px;
}

.welcome .welcome-wrapper button {
  background-color: rgba(255, 0, 0, 0);
}

.welcome .welcome-wrapper .welcome-img {
  width: 60%;
  text-align: center;
}

/* joininfo css style */
.joininfo {
  font-family: "Inter", sans-serif;
  text-align: center;
}

.joininfo .joininfo-wrapper {
  padding: 80px 0px 150px 0px;
  margin-top: 100px;
}

.joininfo .joininfo-wrapper h4 {
  color: #070211;
  font-size: 26px;
  font-weight: 600;
  line-height: 45px;
  text-transform: capitalize;
}

.joininfo .joininfo-wrapper span {
  color: #f00;
}

.joininfo .joininfo-wrapper button {
  text-transform: capitalize;
  margin-top: 52px;
}

/* coming soon css style */
.comingsoon .comingsoon-wrapper {
  display: flex;
  align-items: center;
}

.comingsoon .comingsoon-wrapper p {
  color: rgba(7, 2, 17, 0.6);
}

/* colum left style*/
.comingsoon .comingsoon-wrapper .colum-left {
  width: 25%;
}

.comingsoon .comingsoon-wrapper .colum-left * {
  margin-bottom: 15px;
}

.comingsoon .comingsoon-wrapper .colum-left h5 {
  color: #f00;
  font-size: 19px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.comingsoon .comingsoon-wrapper .colum-left h3 {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 39px;
  font-weight: 900;
}

/* colum middle style*/
.comingsoon .comingsoon-wrapper .colum-middle {
  width: 50%;
  text-align: center;
}

.comingsoon .comingsoon-wrapper .colum-middle .img {
  border: 12px solid red;
  border-radius: 50%;
  width: 80%;
  margin: auto;
}

.comingsoon .comingsoon-wrapper .colum-middle .img img {
  margin: 39px;
  width: 80%;
}

/* colum right style*/
.comingsoon .comingsoon-wrapper .colum-right {
  width: 25%;
}

.comingsoon .comingsoon-wrapper .colum-right * {
  margin-bottom: 18px;
}

.comingsoon .comingsoon-wrapper .colum-right h3 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 39px;
  font-weight: 700;
}

.comingsoon .comingsoon-wrapper .colum-right .img {
  margin-top: 30px;
}
